In [1]:
import pandas as pd

In [2]:
# DataFrame - table. the syntax like in dictionary ({1: [1,2,3], 2: [3,4,5]}), key - column, value - rows in coulumn
pd.DataFrame({1: [1,2,3], 2: [3,4,5]})

   1  2
0  1  3
1  2  4
2  3  5

In [3]:
pd.DataFrame({"misha": ["idi naxyu", "suka"],  "vasia": ["blyat", "tvar"]}, index = ["answer 1", "answer 2"])
# index = row label

              misha  vasia
answer 1  idi naxyu  blyat
answer 2       suka   tvar

In [4]:
pd.Series([1,2,3,4,5])
# series = a column in a DataFrame

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
pd.Series([1,2,3], index=["first", "second", "third"], name="pedozigjadlo")

first     1
second    2
third     3
Name: pedozigjadlo, dtype: int64

In [6]:
accounts = pd.read_csv("./sample_data/accounts.csv", index_col=0) # this is how we read csv
# property index_col =>

In [7]:
accounts.shape # size of the table, 33 rows 6 columns

(33, 5)

In [8]:
accounts.head() # first five rows

,location_id,name,title,email,department
id,,,,,
1,1,Susan houston,Director of Services,NaN,NaN
2,1,Christina Gonzalez,Director,NaN,NaN
3,2,Brenda brown,"Director, Second Career Services",NaN,NaN
4,3,Howard Lader,"Manager, Senior Counseling",NaN,NaN
5,4,Kimberly Pesavento,Commercial director,NaN,NaN

In [9]:
fruits = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], columns=["apple", "banana", "dick"])
fruits
# that's how dataframe can also be assigned

   apple  banana  dick
0      1       2     3
1      4       5     6
2      7       8     9

In [10]:
fruits.to_csv("./sample_data/fruits.csv")
# that's how dataframes are recoreded into csv
# there are many other parameters for `to_csv()` func

In [11]:
accounts.head()

,location_id,name,title,email,department
id,,,,,
1,1,Susan houston,Director of Services,NaN,NaN
2,1,Christina Gonzalez,Director,NaN,NaN
3,2,Brenda brown,"Director, Second Career Services",NaN,NaN
4,3,Howard Lader,"Manager, Senior Counseling",NaN,NaN
5,4,Kimberly Pesavento,Commercial director,NaN,NaN

In [12]:
accounts.head().name
# columns can be accessed and turnt into series

id
1         Susan houston
2    Christina Gonzalez
3          Brenda brown
4          Howard Lader
5    Kimberly Pesavento
Name: name, dtype: object

In [13]:
accounts.head()['name']
# we can also access like this

id
1         Susan houston
2    Christina Gonzalez
3          Brenda brown
4          Howard Lader
5    Kimberly Pesavento
Name: name, dtype: object

In [14]:
accounts["name"][3]
# that's how the certain value is got

'Brenda brown'

In [15]:
# pandas indexing, loc and iloc

# iloc[row, column] index based selection, numbers, lists and slices
accounts.iloc[5] # first row

location_id                                                  5
name                                                 Joe Bloom
title          Financial Empowerment Programs Program Director
email                                                      NaN
department                                                 NaN
Name: 6, dtype: object

In [16]:
accounts.head().iloc[:, 1] # get all rows first column
# : means everything in python

accounts.iloc[2:7, 1] # from index 2 to index 7 not including the last
# accounts.head().iloc[2:4, 1]

id
3          Brenda brown
4          Howard Lader
5    Kimberly Pesavento
6             Joe Bloom
7           peter Olson
Name: name, dtype: object

In [17]:
accounts.iloc[[1,3,5,7,9],[1,2]].to_csv("./sample_data/eneisha.csv")
# certain rows and cols are accessed and dataframe is returned

In [18]:
accounts.iloc[-5:,[2,1,4]] # negative indexes for the last 5 entries

                       title               name  department
id
29                    Tester  Suzanne Badenhoop   Referrals
30  Director of new Services       Sean Houston         NaN
31           Account Manager       David Genesy         NaN
32                       CEO   Elizabeth Feeney  Operations
33                    Tester        Erika Meeks  Operations

In [19]:
accounts.loc[:,'name']

id
1               Susan houston
2          Christina Gonzalez
3                Brenda brown
4                Howard Lader
5          Kimberly Pesavento
6                   Joe Bloom
7                 peter Olson
8                Bart charlow
9                Bart Charlow
10               Barbara Kalt
11    Marilyn Baker-Venturini
12         Graciela Hernandez
13              Julie avelino
14                Dave Genesy
15               maria kramer
16                Dave Genesy
17               Maria kramer
18                Dave Genesy
19            Elizabeth Meeks
20               Kathy Endaya
21                dave genesy
22            Andres Espinoza
23              Jack Phillips
24                  James Lee
25             Kenneth Gibson
26            Sharon Petersen
27            Sharon Petersen
28               Moncef Salah
29          Suzanne Badenhoop
30               Sean Houston
31               David Genesy
32           Elizabeth Feeney
33                Erika Meeks
Name: name, dtype: object

In [20]:
accounts.loc[20:25, ["name", "title", "department"]]

# loc and iloc indexing are really different it's a feature not a bug
# in loc 10:30 last element is included
# while in iloc it's not

               name                        title department
id
20     Kathy Endaya                     Director        NaN
21      dave genesy             Library Director        NaN
22  Andres Espinoza  Manager, Commanding Officer        NaN
23    Jack Phillips                Administrator        NaN
24        James Lee           Commanding Officer        NaN
25   Kenneth Gibson                       Tester        NaN

In [21]:
if_tester = accounts.title == "Tester"

accounts.loc[if_tester & accounts.email.str.contains("@")]
# conditions can be entered

    location_id               name   title                email  department
id
29           22  Suzanne Badenhoop  Tester  suzanne@example.com   Referrals
33            8        Erika Meeks  Tester   e.meeks@foobar.org  Operations

In [22]:
accounts.loc[accounts.department.notnull()]

,location_id,name,title,email,department
id,,,,,
28,21,Moncef Salah,Tester,NaN,Office of Innovation
29,22,Suzanne Badenhoop,Tester,suzanne@example.com,Referrals
32,8,Elizabeth Feeney,CEO,e.feeney@foobar.org,Operations
33,8,Erika Meeks,Tester,e.meeks@foobar.org,Operations

In [23]:
accounts.loc[accounts.title.isin(["Director", "Administrator"])]

    location_id                     name          title email department
id
2             1       Christina Gonzalez       Director   NaN        NaN
7             6              peter Olson       Director   NaN        NaN
10            7             Barbara Kalt       Director   NaN        NaN
11            8  Marilyn Baker-Venturini       Director   NaN        NaN
20           12             Kathy Endaya       Director   NaN        NaN
23           15            Jack Phillips  Administrator   NaN        NaN
26           18          Sharon Petersen  Administrator   NaN        NaN
27           19          Sharon Petersen  Administrator   NaN        NaN

In [24]:
accounts["new_column"] = "blablaba"

In [25]:
accounts["id_backwards"] = range(len(accounts), 0,-1)

In [26]:
# accounts.id_backwards

In [27]:
accounts.set_index("title")

,location_id,name,email,department,new_column,id_backwards
title,,,,,,
Director of Services,1,Susan houston,NaN,NaN,blablaba,33
Director,1,Christina Gonzalez,NaN,NaN,blablaba,32
"Director, Second Career Services",2,Brenda brown,NaN,NaN,blablaba,31
"Manager, Senior Counseling",3,Howard Lader,NaN,NaN,blablaba,30
Commercial director,4,Kimberly Pesavento,NaN,NaN,blablaba,29
Financial Empowerment Programs Program Director,5,Joe Bloom,NaN,NaN,blablaba,28
Director,6,peter Olson,NaN,NaN,blablaba,27
Executive Director,6,Bart charlow,NaN,NaN,blablaba,26
Executive Director,7,Bart Charlow,NaN,NaN,blablaba,25
Director,7,Barbara Kalt,NaN,NaN,blablaba,24
Director,8,Marilyn Baker-Venturini,NaN,NaN,blablaba,23
Assistant Manager,8,Graciela Hernandez,NaN,NaN,blablaba,22
Assessment Specialist,8,Julie avelino,NaN,NaN,blablaba,21
Library Director,9,Dave Genesy,NaN,NaN,blablaba,20
Library Divisions Manager,9,maria kramer,NaN,NaN,blablaba,19
Tester,10,Dave Genesy,NaN,NaN,blablaba,18
Library Division Manager,10,Maria kramer,NaN,NaN,blablaba,17
Head of office,11,Dave Genesy,NaN,NaN,blablaba,16
Branch Manager,11,Elizabeth Meeks,NaN,NaN,blablaba,15
Director,12,Kathy Endaya,NaN,NaN,blablaba,14
Library Director,13,dave genesy,NaN,NaN,blablaba,13
"Manager, Commanding Officer",14,Andres Espinoza,NaN,NaN,blablaba,12
Administrator,15,Jack Phillips,NaN,NaN,blablaba,11
Commanding Officer,16,James Lee,NaN,NaN,blablaba,10
Tester,17,Kenneth Gibson,NaN,NaN,blablaba,9
Administrator,18,Sharon Petersen,NaN,NaN,blablaba,8
Administrator,19,Sharon Petersen,NaN,NaN,blablaba,7
Tester,21,Moncef Salah,NaN,Office of Innovation,blablaba,6
Tester,22,Suzanne Badenhoop,suzanne@example.com,Referrals,blablaba,5
Director of new Services,20,Sean Houston,NaN,NaN,blablaba,4
Account Manager,8,David Genesy,NaN,NaN,blablaba,3
CEO,8,Elizabeth Feeney,e.feeney@foobar.org,Operations,blablaba,2
Tester,8,Erika Meeks,e.meeks@foobar.org,Operations,blablaba,1

In [28]:
"""
what have i learnt?

loc( for strings and condition location)
iloc (numerical, and rangal location)
set_index(set the certain column as indexor)
assign data by creating new column like accounts["balba"] = "balba"

in dataframes it's strongly recommended to index using iloc and loc, not python indexators


is_in_oceania = reviews.country.isin(["Australia", "New Zealand"])
is_high_score = reviews.points >=95

top_oceania_wines = reviews.loc[is_in_oceania & is_high_score]
# To combine filtering conditions in Pandas,
# use bitwise operators ('&' and '|') not pure Python ones ('and' and 'or')
"""

'\nwhat have i learnt?\n\nloc( for strings and condition location)\niloc (numerical, and rangal location)\nset_index(set the certain column as indexor)\nassign data by creating new column like accounts["balba"] = "balba"\n\nin dataframes it\'s strongly recommended to index using iloc and loc, not python indexators\n\n\nis_in_oceania = reviews.country.isin(["Australia", "New Zealand"])\nis_high_score = reviews.points >=95\n\ntop_oceania_wines = reviews.loc[is_in_oceania & is_high_score]\n# To combine filtering conditions in Pandas,\n# use bitwise operators (\'&\' and \'|\') not pure Python ones (\'and\' and \'or\')\n'



---

In [32]:
cars = pd.read_csv("./sample_data/electric_vehicles_spec_2025.csv.csv")

In [ ]:
cars.head()

,brand,model,top_speed_kmh,battery_capacity_kWh,battery_type,number_of_cells,torque_nm,efficiency_wh_per_km,range_km,acceleration_0_100_s,...,towing_capacity_kg,cargo_volume_l,seats,drivetrain,segment,length_mm,width_mm,height_mm,car_body_type,source_url
0,Abarth,500e Convertible,155,37.8,Lithium-ion,192.0,235.0,156,225,7.0,...,0.0,185,4,FWD,B - Compact,3673,1683,1518,Hatchback,https://ev-database.org/car/1904/Abarth-500e-C...
1,Abarth,500e Hatchback,155,37.8,Lithium-ion,192.0,235.0,149,225,7.0,...,0.0,185,4,FWD,B - Compact,3673,1683,1518,Hatchback,https://ev-database.org/car/1903/Abarth-500e-H...
2,Abarth,600e Scorpionissima,200,50.8,Lithium-ion,102.0,345.0,158,280,5.9,...,0.0,360,5,FWD,JB - Compact,4187,1779,1557,SUV,https://ev-database.org/car/3057/Abarth-600e-S...
3,Abarth,600e Turismo,200,50.8,Lithium-ion,102.0,345.0,158,280,6.2,...,0.0,360,5,FWD,JB - Compact,4187,1779,1557,SUV,https://ev-database.org/car/3056/Abarth-600e-T...
4,Aiways,U5,150,60.0,Lithium-ion,NaN,310.0,156,315,7.5,...,NaN,496,5,FWD,JC - Medium,4680,1865,1700,SUV,https://ev-database.org/car/1678/Aiways-U5

In [33]:
cars.shape

(478, 22)

In [34]:
cars.battery_capacity_kWh.describe()

count    478.000000
mean      74.043724
std       20.331058
min       21.300000
25%       60.000000
50%       76.150000
75%       90.600000
max      118.000000
Name: battery_capacity_kWh, dtype: float64

In [35]:
cars.battery_type.describe()

count             478
unique              1
top       Lithium-ion
freq              478
Name: battery_type, dtype: object

In [36]:
cars.battery_capacity_kWh.mean() # average value

np.float64(74.04372384937238)

In [37]:
# find average value battery capacity of fast awd audis

is_awd = cars.drivetrain == "AWD"
is_fast = cars.top_speed_kmh >= 201
is_Audi = cars.brand == "Audi"

fast_awd_audis = cars.loc[is_fast & is_awd & is_Audi]
fast_awd_audis.battery_capacity_kWh.min()

np.float64(94.9)

In [38]:
# find the slowest car

cars.loc[cars.battery_capacity_kWh.idxmin(), ["brand", "model", "top_speed_kmh", "battery_capacity_kWh"]]

brand                              Fiat
model                   500e 3+1 24 kWh
top_speed_kmh                       135
battery_capacity_kWh               21.3
Name: 103, dtype: object

In [39]:
cars["brand"].value_counts()

brand
Mercedes-Benz    42
Audi             28
Porsche          26
Volkswagen       23
Ford             22
BMW              20
Peugeot          19
Volvo            18
BYD              17
Smart            17
Kia              16
Hyundai          14
Opel             14
MG               12
Citroen          12
Skoda            12
NIO              12
Tesla            11
Renault          11
Polestar          9
XPENG             9
Zeekr             9
Mini              8
Fiat              8
Toyota            7
Lotus             6
GWM               6
Nissan            6
CUPRA             5
DS                5
Genesis           5
Abarth            4
Lexus             3
Maserati          3
Lucid             3
Hongqi            3
Dacia             2
Alpine            2
Leapmotor         2
Alfa              2
Aiways            2
Jeep              2
Dongfeng          2
VinFast           2
Mazda             2
Skywell           2
KGM               1
Elaris            1
Cadillac          1
Jaguar            1
Honda             1
Lancia            1
Omoda             1
Lynk&Co           1
Maxus             1
Subaru            1
Rolls-Royce       1
Voyah             1
firefly           1
Name: count, dtype: int64

In [40]:
"""
я понял. то есть мы берем колонку в таблицке,
это наша серия, и каждый элемнт мы можем заменить
либо напрямую либо через метод либо через лямбду
"""

cars.top_speed_kmh.map(lambda x: round(x/3.6,2))



# apply => for the whole DataFrame

# give email for the whole workers
# accounts.head(1)
# def generate_email(row):
#   chunks = row["name"].lower().split()
#   name = chunks[0]
#   surname = chunks[1]
#   row.email = f"{name[:5]}{surname[:5]}@gmx.de"
#   return row
# accounts.apply(generate_email, axis=1)

# print(accounts['name'].apply(type).value_counts())

0      43.06
1      43.06
2      55.56
3      55.56
4      41.67
       ...
473    58.33
474    52.78
475    52.78
476    52.78
477    41.67
Name: top_speed_kmh, Length: 478, dtype: float64

In [41]:


cars_speed_mean = cars.top_speed_kmh.mean()

(cars.top_speed_kmh- cars_speed_mean)

cars.brand + " - " + cars.model

0            Abarth - 500e Convertible
1              Abarth - 500e Hatchback
2         Abarth - 600e Scorpionissima
3                Abarth - 600e Turismo
4                          Aiways - U5
                    ...
473             Zeekr - 7X Premium RWD
474          Zeekr - X Core RWD (MY25)
475    Zeekr - X Long Range RWD (MY25)
476     Zeekr - X Privilege AWD (MY25)
477                                NaN
Length: 478, dtype: object

In [42]:
# rate efficiency class
cars["efficiency_class"] = cars.efficiency_wh_per_km.map(lambda s: "High Efficieny" if s < 160 else ("Moderate Efficiency" if s < 200 else "Low Efficiency"))
cars.loc[:,["brand", "model", "efficiency_wh_per_km", "efficiency_class" ]]



# rate performance score

def perf_score(row):
  drivetrain_factor = 0
  match (row.drivetrain):
    case "AWD":
      drivetrain_factor = 1.1
    case "RWD":
      drivetrain_factor = 1.0
    case "FWD":
      drivetrain_factor = 0.8
    case _:
      drivetrain_factor = 1.0

  return (row.torque_nm / row.acceleration_0_100_s) * drivetrain_factor



cars["performance_score"] = cars.apply(perf_score, axis=1)


cars.loc[:, ["brand", "model", "performance_score"]].sort_values(by="performance_score")

       brand               model  performance_score
98     Dacia  Spring Electric 45           5.235602
99     Dacia  Spring Electric 65           6.598540
84   Citroen       e-C3 Aircross           7.751938
291     Opel     Frontera 44 kWh           7.933884
83   Citroen                e-C3           8.347826
..       ...                 ...                ...
196    Lucid         Air Touring                NaN
401    Tesla  Model S Dual Motor                NaN
402    Tesla       Model S Plaid                NaN
403    Tesla  Model X Dual Motor                NaN
404    Tesla       Model X Plaid                NaN

[478 rows x 3 columns]

In [43]:
cars.groupby("brand").top_speed_kmh.mean()

brand
Abarth           177.500000
Aiways           155.000000
Alfa             175.000000
Alpine           165.000000
Audi             208.928571
BMW              206.300000
BYD              176.764706
CUPRA            176.000000
Cadillac         210.000000
Citroen          138.666667
DS               176.000000
Dacia            125.000000
Dongfeng         140.000000
Elaris           150.000000
Fiat             142.125000
Ford             172.045455
GWM              166.666667
Genesis          216.000000
Honda            160.000000
Hongqi           200.000000
Hyundai          183.928571
Jaguar           200.000000
Jeep             165.000000
KGM              175.000000
Kia              187.312500
Lancia           150.000000
Leapmotor        150.000000
Lexus            160.000000
Lotus            252.666667
Lucid            240.000000
Lynk&Co          180.000000
MG               181.250000
Maserati         278.333333
Maxus            180.000000
Mazda            175.000000
Mercedes-Benz    190.333333
Mini             176.250000
NIO              200.000000
Nissan           163.666667
Omoda            172.000000
Opel             147.142857
Peugeot          151.789474
Polestar         200.000000
Porsche          246.730769
Renault          147.727273
Rolls-Royce      250.000000
Skoda            173.333333
Skywell          150.000000
Smart            187.647059
Subaru           160.000000
Tesla            228.363636
Toyota           139.142857
VinFast          200.000000
Volkswagen       171.521739
Volvo            180.000000
Voyah            200.000000
XPENG            200.000000
Zeekr            200.000000
firefly          150.000000
Name: top_speed_kmh, dtype: float64

In [44]:
cars.groupby("brand").apply(lambda df: df.model.iloc[0])
# it's how the first car of every brand is displayed

/tmp/ipykernel_13917/2085103554.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  cars.groupby("brand").apply(lambda df: df.model.iloc[0])

brand
Abarth                            500e Convertible
Aiways                                          U5
Alfa                 Romeo Junior Elettrica 54 kWh
Alpine                        A290 Electric 180 hp
Audi                               A6 Avant e-tron
BMW                                         i4 M50
BYD                                         ATTO 2
CUPRA                         Born 170 kW - 59 kWh
Cadillac                              Lyriq 600 E4
Citroen                        e-Berlingo M 50 kWh
DS                                       3 E-Tense
Dacia                           Spring Electric 45
Dongfeng                              Box 31.4 kWh
Elaris                                  BEO 86 kWh
Fiat                               500e 3+1 24 kWh
Ford                      Capri Extended Range AWD
GWM                                  ORA 03 48 kWh
Genesis                     G80 Electrified Luxury
Honda                                        e:Ny1
Hongqi                               E-HS9 120 kWh
Hyundai                          INSTER Long Range
Jaguar                                I-Pace EV400
Jeep                              Avenger Electric
KGM                                     Torres EVX
Kia                                 EV3 Long Range
Lancia                                     Ypsilon
Leapmotor                                      C10
Lexus                                      RZ 300e
Lotus                                       Eletre
Lucid                            Air Grand Touring
Lynk&Co                                         02
MG                                    Cyberster GT
Maserati                        GranCabrio Folgore
Maxus                                       MIFA 9
Mazda                                  6e 68.8 kWh
Mercedes-Benz                             CLA 250+
Mini                                      Aceman E
NIO                                 EL6 Long Range
Nissan                                 Ariya 63kWh
Omoda                                           E5
Opel                                Astra Electric
Peugeot                              e-2008 50 kWh
Polestar            2 Long Range Dual Motor (MY26)
Porsche                           Macan 4 Electric
Renault                       4 E-Tech 40kWh 120hp
Rolls-Royce                                Spectre
Skoda                                     Elroq 50
Skywell                            BE11 Long Range
Smart                                    #1 Brabus
Subaru                                Solterra AWD
Tesla            Model 3 Long Range AWD (Highland)
Toyota                       PROACE Verso L 75 kWh
VinFast                    VF 8 Eco Extended Range
Volkswagen                        ID. Buzz LWB GTX
Volvo                     EC40 Single Motor (MY26)
Voyah                                 Free 106 kWh
XPENG                           G6 AWD Performance
Zeekr                           001 Long Range RWD
firefly                                        NaN
dtype: object

In [45]:
cars.groupby(["brand", "battery_type"]).apply(lambda df: df.loc[df.battery_capacity_kWh.idxmax()])

/tmp/ipykernel_13917/4129559921.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  cars.groupby(["brand", "battery_type"]).apply(lambda df: df.loc[df.battery_capacity_kWh.idxmax()])

,,brand,model,top_speed_kmh,battery_capacity_kWh,battery_type,number_of_cells,torque_nm,efficiency_wh_per_km,range_km,acceleration_0_100_s,...,seats,drivetrain,segment,length_mm,width_mm,height_mm,car_body_type,source_url,efficiency_class,performance_score
brand,battery_type,,,,,,,,,,,,,,,,,,,,,
Abarth,Lithium-ion,Abarth,600e Scorpionissima,200,50.8,Lithium-ion,102.0,345.0,158,280,5.9,...,5,FWD,JB - Compact,4187,1779,1557,SUV,https://ev-database.org/car/3057/Abarth-600e-S...,High Efficieny,46.779661
Aiways,Lithium-ion,Aiways,U5,150,60.0,Lithium-ion,NaN,310.0,156,315,7.5,...,5,FWD,JC - Medium,4680,1865,1700,SUV,https://ev-database.org/car/1678/Aiways-U5,High Efficieny,33.066667
Alfa,Lithium-ion,Alfa,Romeo Junior Elettrica 54 kWh,150,50.8,Lithium-ion,102.0,260.0,128,320,9.0,...,5,FWD,JB - Compact,4173,1781,1532,SUV,https://ev-database.org/car/2184/Alfa-Romeo-Ju...,High Efficieny,23.111111
Alpine,Lithium-ion,Alpine,A290 Electric 180 hp,160,52.0,Lithium-ion,184.0,285.0,138,310,7.4,...,5,FWD,B - Compact,3997,1823,1512,Hatchback,https://ev-database.org/car/2268/Alpine-A290-E...,High Efficieny,30.810811
Audi,Lithium-ion,Audi,e-tron GT RS,250,97.0,Lithium-ion,396.0,865.0,184,525,2.8,...,4,AWD,F - Luxury,4997,1964,1389,Sedan,https://ev-database.org/car/2220/Audi-e-tron-G...,Moderate Efficiency,339.821429
BMW,Lithium-ion,BMW,iX xDrive60,200,109.1,Lithium-ion,NaN,765.0,194,525,4.6,...,5,AWD,JE - Executive,4965,1970,1695,SUV,https://ev-database.org/car/3110/BMW-iX-xDrive60,Moderate Efficiency,182.934783
BYD,Lithium-ion,BYD,TANG Flagship,190,108.8,Lithium-ion,NaN,700.0,205,460,4.9,...,7,AWD,JE - Executive,4970,1955,1745,SUV,https://ev-database.org/car/2095/BYD-TANG-Flag...,Low Efficiency,157.142857
CUPRA,Lithium-ion,CUPRA,Born VZ,200,79.0,Lithium-ion,288.0,545.0,149,465,5.6,...,5,RWD,C - Medium,4322,1809,1538,Hatchback,https://ev-database.org/car/2128/CUPRA-Born-VZ,High Efficieny,97.321429
Cadillac,Lithium-ion,Cadillac,Lyriq 600 E4,210,102.0,Lithium-ion,288.0,610.0,192,460,5.3,...,5,AWD,JF - Luxury,5005,1977,1623,SUV,https://ev-database.org/car/2243/Cadillac-Lyri...,Moderate Efficiency,126.603774
Citroen,Lithium-ion,Citroen,e-SpaceTourer M 75 kWh,130,68.0,Lithium-ion,324.0,220.0,202,260,14.2,...,9,FWD,N - Passenger Van,4983,1920,1890,Small Passenger Van,https://ev-database.org/car/2254/Citroen-e-Spa...,Low Efficiency,12.394366
DS,Lithium-ion,DS,N°8 AWD Long Range,190,97.2,Lithium-ion,NaN,511.0,146,530,5.4,...,5,AWD,JD - Large,4834,1920,1574,SUV,https://ev-database.org/car/3078/DS-N8-AWD-Lon...,High Efficieny,104.092593
Dacia,Lithium-ion,Dacia,Spring Electric 45,125,25.0,Lithium-ion,72.0,125.0,109,165,19.1,...,4,FWD,A - Mini,3700,1622,1516,Hatchback,https://ev-database.org/car/2126/Dacia-Spring-...,High Efficieny,5.235602
Dongfeng,Lithium-ion,Dongfeng,Box 42.3 kWh,140,40.0,Lithium-ion,NaN,160.0,129,255,12.5,...,5,FWD,B - Compact,4020,1810,1570,Hatchback,https://ev-database.org/car/3036/Dongfeng-Box-...,High Efficieny,10.240000
Elaris,Lithium-ion,Elaris,BEO 86 kWh,150,81.0,Lithium-ion,NaN,320.0,203,390,9.5,...,5,FWD,JD - Large,4698,1908,1696,SUV,https://ev-database.org/car/1975/Elaris-BEO-86...,Low Efficiency,26.947368
Fiat,Lithium-ion,Fiat,600e,150,50.8,Lithium-ion,102.0,260.0,124,310,9.0,...,5,FWD,JB - Compact,4171,1781,1523,SUV,https://ev-database.org/car/1945/Fiat-600e,High Efficieny,23.111111
Ford,Lithium-ion,Ford,Mustang Mach-E ER AWD (MY24),180,91.0,Lithium-ion,376.0,675.0,165,445,4.6,...,5,AWD,JD - Large,4713,1881,1624,SUV,https://ev-database.org/car/2279/Ford-Mustang-...,Moderate Efficiency,161.413043
GWM,Lithium-ion,GWM,ORA 07 GT,180,83.5,Lithium-ion,NaN,680.0,161,430,4.5,...,5,AWD,D - Large,4871,1862,1500,Sedan,https://ev-database.org/car/2247/GWM-ORA-07-GT,Moderate Efficiency,166.222222
Genesis,Lithium-ion,Genesis,G80 Electrified Luxury,225,82.5,Lithium-ion,NaN,700.0,159,440,4.9,...,5,AWD,F - Luxury,5005,1925,1470,Sedan,https://ev-database.org/car/1703/Genesis-G80-E...,High Efficieny,157.142857
Honda,Lithium-ion,Honda,e:Ny1,160,61.9,Lithium-ion,NaN,310.0,150,335,7.6,...,5,FWD,JB - Compact,4387,1790,1584,SUV,https://ev-database.org/car/1940/Honda-eNy1,High Efficieny,32.631579
Hongqi,Lithium-ion,Hongqi,E-HS9 120 kWh,200,112.0,Lithium-ion,NaN,750.0,217,455,4.9,...,5,AWD,JF - Luxury,5209,2010,1731,SUV,https://ev-database.org/car/2050/Hongqi-E-HS9-...,Low Efficiency,168.367347
Hyundai,Lithium-ion,Hyundai,IONIQ 9 Long Range AWD,200,106.0,Lithium-ion,NaN,605.0,177,490,6.7,...,7,AWD,JF - Luxury,5060,1980,1790,SUV,https://ev-database.org/car/3068/Hyundai-IONIQ...,Moderate Efficiency,99.328358
Jaguar,Lithium-ion,Jaguar,I-Pace EV400,200,84.7,Lithium-ion,432.0,696.0,208,380,4.8,...,5,AWD,JD - Large,4682,2011,1566,SUV,https://ev-database.org/car/1812/Jaguar-I-Pace...,Low Efficiency,159.500000
Jeep,Lithium-ion,Jeep,Compass Electric 74 kWh,180,74.0,Lithium-ion,NaN,345.0,148,370,8.5,...,5,FWD,JC - Medium,4552,1928,1675,SUV,https://ev-database.org/car/3181/Jeep-Compass-...,High Efficieny,32.470588
KGM,Lithium-ion,KGM,Torres EVX,175,72.0,Lithium-ion,NaN,339.0,156,370,8.1,...,5,FWD,JC - Medium,4715,1890,1725,SUV,https://ev-database.org/car/2189/KGM-Torres-EVX,High Efficieny,33.481481
Kia,Lithium-ion,Kia,EV9 99.8 kWh AWD,200,96.0,Lithium-ion,456.0,600.0,188,435,6.0,...,7,AWD,JF - Luxury,5010,1980,1755,SUV,https://ev-database.org/car/1835/Kia-EV9-998-k...,Moderate Efficiency,110.000000
Lancia,Lithium-ion,Lancia,Ypsilon,150,48.1,Lithium-ion,96.0,260.0,122,310,8.2,...,5,FWD,B - Compact,4080,1760,1440,Hatchback,https://ev-database.org/car/2117/Lancia-Ypsilon,High Efficieny,25.365854
Leapmotor,Lithium-ion,Leapmotor,C10,170,69.9,Lithium-ion,NaN,320.0,166,350,7.5,...,5,RWD,JD - Large,4739,1900,1680,SUV,https://ev-database.org/car/3040/Leapmotor-C10,Moderate Efficiency,42.666667
Lexus,Lithium-ion,Lexus,RZ 300e,160,64.0,Lithium-ion,96.0,266.0,149,365,8.0,...,5,FWD,JC - Medium,4690,1860,1600,SUV,https://ev-database.org/car/3027/Lexus-RZ-300e,High Efficieny,26.600000
Lotus,Lithium-ion,Lotus,Eletre,250,109.0,Lithium-ion,NaN,710.0,204,495,4.5,...,5,AWD,JF - Luxury,5103,2019,1630,SUV,https://ev-database.org/car/1767/Lotus-Eletre,Low Efficiency,173.555556
Lucid,Lithium-ion,Lucid,Air Grand Touring,270,112.0,Lithium-ion,6600.0,1200.0,143,665,3.0,...,5,AWD,F - Luxury,4975,1939,1410,Sedan,https://ev-database.org/car/1316/Lucid-Air-Gra...,High Efficieny,440.000000
Lynk&Co,Lithium-ion,Lynk&Co,02,180,65.0,Lithium-ion,NaN,343.0,149,370,5.5,...,5,RWD,JC - Medium,4460,1845,1573,SUV,https://ev-database.org/car/3045/LynkCo-02,High Efficieny,62.363636
MG,Lithium-ion,MG,Cyberster GT,200,74.4,Lithium-ion,NaN,725.0,168,395,3.2,...,2,AWD,G - Sports,4535,1913,1329,Cabriolet,https://ev-database.org/car/2203/MG-Cyberster-GT,Moderate Efficiency,249.218750
Maserati,Lithium-ion,Maserati,Grecale Folgore,220,95.0,Lithium-ion,NaN,820.0,220,400,4.1,...,5,AWD,JE - Executive,4865,1948,1651,SUV,https://ev-database.org/car/1843/Maserati-Grec...,Low Efficiency,220.000000
Maxus,Lithium-ion,Maxus,MIFA 9,180,84.0,Lithium-ion,NaN,350.0,195,365,9.2,...,7,FWD,N - Passenger Van,5270,2000,1840,Small Passenger Van,https://ev-database.org/car/1837/Maxus-MIFA-9,Moderate Efficiency,30.434783
Mazda,Lithium-ion,Mazda,6e Long Range 80 kWh,175,75.0,Lithium-ion,NaN,320.0,136,440,7.8,...,5,RWD,D - Large,4921,1890,1491,Liftback Sedan,https://ev-database.org/car/3108/Mazda-6e-Long...,High Efficieny,41.025641
Mercedes-Benz,Lithium-ion,Mercedes-Benz,EQS 450 4MATIC,210,118.0,Lithium-ion,NaN,800.0,180,655,5.7,...,5,AWD,F - Luxury,5223,1926,1518,Sedan,https://ev-database.org/car/2194/Mercedes-Benz...,Moderate Efficiency,154.385965
Mini,Lithium-ion,Mini,Countryman E,170,64.6,Lithium-ion,NaN,250.0,140,380,8.6,...,5,FWD,JC - Medium,4433,1843,1656,SUV,https://ev-database.org/car/1994/Mini-Countrym...,High Efficieny,23.255814
NIO,Lithium-ion,NIO,EL6 Long Range,200,90.0,Lithium-ion,96.0,700.0,170,435,4.5,...,5,AWD,JE - Executive,4854,1995,1703,SUV,https://ev-database.org/car/1922/NIO-EL6-Long-...,Moderate Efficiency,171.111111
Nissan,Lithium-ion,Nissan,Ariya 87kWh,160,87.0,Lithium-ion,NaN,300.0,169,450,7.6,...,5,FWD,JC - Medium,4595,1850,1660,SUV,https://ev-database.org/car/1302/Nissan-Ariya-...,Moderate Efficiency,31.578947
Omoda,Lithium-ion,Omoda,E5,172,61.0,Lithium-ion,NaN,340.0,152,345,7.6,...,5,FWD,JC - Medium,4424,1830,1588,SUV,https://ev-database.org/car/3046/Omoda-E5,High Efficieny,35.789474
Opel,Lithium-ion,Opel,Grandland 82 kWh,170,82.2,Lithium-ion,NaN,260.0,146,410,9.0,...,5,FWD,JC - Medium,4650,1934,1665,SUV,https://ev-database.org/car/3038/Opel-Grandlan...,High Efficieny,23.111111
Peugeot,Lithium-ion,Peugeot,e-3008 97 kWh Long Range,170,96.9,Lithium-ion,NaN,345.0,145,500,8.7,...,5,FWD,JC - Medium,4542,1895,1641,SUV,https://ev-database.org/car/2005/Peugeot-e-300...,High Efficieny,31.724138
Polestar,Lithium-ion,Polestar,3 Long Range Dual motor,210,107.0,Lithium-ion,204.0,840.0,183,515,5.0,...,5,AWD,JE - Executive,4900,1968,1614,SUV,https://ev-database.org/car/1758/Polestar-3-Lo...,Moderate Efficiency,184.800000
Porsche,Lithium-ion,Porsche,Taycan 4 Cross Turismo,220,97.0,Lithium-ion,396.0,610.0,188,510,4.7,...,5,AWD,F - Luxury,4974,1967,1409,Station/Estate,https://ev-database.org/car/2110/Porsche-Tayca...,Moderate Efficiency,142.765957
Renault,Lithium-ion,Renault,Scenic E-Tech EV87 220hp,170,87.0,Lithium-ion,288.0,300.0,143,480,7.9,...,5,FWD,JC - Medium,4470,1864,1571,SUV,https://ev-database.org/car/2069/Renault-Sceni...,High Efficieny,30.379747
Rolls-Royce,Lithium-ion,Rolls-Royce,Spectre,250,102.0,Lithium-ion,NaN,900.0,192,465,4.5,...,4,AWD,I - Luxury,5453,2080,1559,Coupe,https://ev-database.org/car/1765/Rolls-Royce-S...,Moderate Efficiency,220.000000
Skoda,Lithium-ion,Skoda,Elroq RS,180,79.0,Lithium-ion,288.0,679.0,151,450,5.4,...,5,AWD,JC - Medium,4488,1884,1608,SUV,https://ev-database.org/car/3183/Skoda-Elroq-RS,High Efficieny,138.314815
Skywell,Lithium-ion,Skywell,BE11 Long Range,150,81.0,Lithium-ion,NaN,320.0,166,390,9.6,...,5,FWD,JD - Large,4720,1908,1696,SUV,https://ev-database.org/car/3065/Skywell-BE11-...,Moderate Efficiency,26.666667
Smart,Lithium-ion,Smart,#5 Brabus,210,94.0,Lithium-ion,NaN,710.0,174,450,3.8,...,5,AWD,JD - Large,4695,1920,1705,SUV,https://ev-database.org/car/3179/Smart-5-Brabus,Moderate Efficiency,205.526316
Subaru,Lithium-ion,Subaru,Solterra AWD,160,64.0,Lithium-ion,96.0,336.0,154,320,6.9,...,5,AWD,JC - Medium,4690,1860,1650,SUV,https://ev-database.org/car/1567/Subaru-Solter...,High Efficieny,53.565217
Tesla,Lithium-ion,Tesla,Model S Dual Motor,250,95.0,Lithium-ion,7920.0,NaN,150,575,3.2,...,5,AWD,F - Luxury,5021,1987,1431,Liftback Sedan,https://ev-database.org/car/1404/Tesla-Model-S...,High Efficieny,NaN
Toyota,Lithium-ion,Toyota,PROACE Verso L 75 kWh,130,68.0,Lithium-ion,324.0,260.0,204,260,13.3,...,9,FWD,N - Passenger Van,5333,1920,1890,Small Passenger Van,https://ev-database.org/car/2267/Toyota-PROACE...,Low Efficiency,15.639098
VinFast,Lithium-ion,VinFast,VF 8 Eco Extended Range,200,87.7,Lithium-ion,NaN,500.0,186,405,5.9,...,5,AWD,JD - Large,4750,1934,1667,SUV,https://ev-database.org/car/1807/VinFast-VF-8-...,Moderate Efficiency,93.220339
Volkswagen,Lithium-ion,Volkswagen,ID. Buzz LWB GTX,160,86.0,Lithium-ion,312.0,560.0,182,350,6.5,...,7,AWD,N - Passenger Van,4960,1985,1927,Small Passenger Van,https://ev-database.org/car/2157/Volkswagen-ID...,Moderate Efficiency,94.769231
Volvo,Lithium-ion,Volvo,EX90 Twin Motor (MY24-26),180,107.0,Lithium-ion,204.0,770.0,188,470,5.9,...,7,AWD,JF - Luxury,5037,1964,1744,SUV,https://ev-database.org/car/1775/Volvo-EX90-Tw...,Moderate Efficiency,143.559322
Voyah,Lithium-ion,Voyah,Free 106 kWh,200,100.0,Lithium-ion,NaN,720.0,200,480,4.4,...,5,AWD,JE - Executive,4905,1950,1645,SUV,https://ev-database.org/car/2049/Voyah-Free-10...,Low Efficiency,180.000000
XPENG,Lithium-ion,XPENG,G9 AWD Performance,200,93.1,Lithium-ion,NaN,717.0,179,465,3.9,...,5,AWD,JE - Executive,4891,1937,1670,SUV,https://ev-database.org/car/1826/XPENG-G9-AWD-...,Moderate Efficiency,202.230769
Zeekr,Lithium-ion,Zeekr,001 Long Range RWD,200,94.0,Lithium-ion,110.0,343.0,152,505,7.2,...,5,RWD,E - Executive,4955,1999,1560,Liftback Sedan,https://ev-database.org/car/1933/Zeekr-001-Lon...,High Efficieny,47.638889
firefly,Lithium-ion,firefly,NaN,150,41.2,Lithium-ion,112.0,200.0,125,250,8.1,...,5,RWD,B - Compact,4003,1885,1557,Hatchback,https://ev-database.org/car/3178/firefly-firefly,High Efficieny,24.691358

In [46]:
cars.loc[cars.battery_type != "Lithium-ion"]

Empty DataFrame
Columns: [brand, model, top_speed_kmh, battery_capacity_kWh, battery_type, number_of_cells, torque_nm, efficiency_wh_per_km, range_km, acceleration_0_100_s, fast_charging_power_kw_dc, fast_charge_port, towing_capacity_kg, cargo_volume_l, seats, drivetrain, segment, length_mm, width_mm, height_mm, car_body_type, source_url, efficiency_class, performance_score]
Index: []

[0 rows x 24 columns]

In [47]:
cars["battery_type"].unique()

array(['Lithium-ion'], dtype=object)

In [48]:
cars["model"].duplicated().sum()

np.int64(0)

In [49]:
# ладно неважно я понял как работае групбай

In [50]:
cars.groupby("brand").range_km.agg([len, min,max, lambda x : x.mean()]).sort_values(by="max", ascending=False)

/tmp/ipykernel_13917/3144852349.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  cars.groupby("brand").range_km.agg([len, min,max, lambda x : x.mean()]).sort_values(by="max", ascending=False)
/tmp/ipykernel_13917/3144852349.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  cars.groupby("brand").range_km.agg([len, min,max, lambda x : x.mean()]).sort_values(by="max", ascending=False)

               len  min  max  <lambda_0>
brand
Mercedes-Benz   42  210  685  438.452381
Lucid            3  565  665  603.333333
Audi            28  325  610  478.392857
Porsche         26  440  575  502.884615
Tesla           11  375  575  490.000000
DS               5  300  545  433.000000
Polestar         9  405  530  478.333333
Volvo           18  275  530  407.500000
Volkswagen      23  275  525  415.652174
BMW             20  380  525  458.250000
Lotus            6  455  520  489.166667
Zeekr            9  265  505  414.444444
NIO             12  355  505  425.000000
Hyundai         14  255  500  400.714286
Peugeot         19  180  500  313.684211
XPENG            9  370  495  452.777778
Kia             16  325  495  408.750000
Renault         11  220  480  310.000000
Voyah            1  480  480  480.000000
BYD             17  190  480  350.882353
Ford            22  200  480  368.636364
Skoda           12  310  470  421.250000
Rolls-Royce      1  465  465  465.000000
CUPRA            5  360  465  431.000000
Smart           17  250  465  360.294118
Cadillac         1  460  460  460.000000
Hongqi           3  320  455  381.666667
Nissan           6  220  450  336.666667
Genesis          5  350  440  383.000000
Mazda            2  390  440  415.000000
GWM              6  260  430  342.500000
MG              12  265  425  341.666667
Maserati         3  395  420  405.000000
Opel            14  180  410  277.500000
VinFast          2  400  405  402.500000
Elaris           1  390  390  390.000000
Skywell          2  330  390  360.000000
Mini             8  230  380  301.875000
Jaguar           1  380  380  380.000000
Jeep             2  310  370  340.000000
Lynk&Co          1  370  370  370.000000
KGM              1  370  370  370.000000
Lexus            3  340  365  351.666667
Maxus            1  365  365  365.000000
Toyota           7  180  350  265.714286
Aiways           2  315  350  332.500000
Leapmotor        2  225  350  287.500000
Omoda            1  345  345  345.000000
Citroen         12  180  335  256.250000
Honda            1  335  335  335.000000
Alfa             2  310  320  315.000000
Subaru           1  320  320  320.000000
Fiat             8  135  310  209.375000
Alpine           2  305  310  307.500000
Lancia           1  310  310  310.000000
Abarth           4  225  280  252.500000
Dongfeng         2  190  255  222.500000
firefly          1  250  250  250.000000
Dacia            2  160  165  162.500000

In [51]:
cars_models = cars.groupby(["brand", "model"]).top_speed_kmh.agg(max)

cars_models

/tmp/ipykernel_13917/4158413293.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  cars_models = cars.groupby(["brand", "model"]).top_speed_kmh.agg(max)

brand   model
Abarth  500e Convertible           155
        500e Hatchback             155
        600e Scorpionissima        200
        600e Turismo               200
Aiways  U5                         150
                                  ...
Zeekr   7X Performance AWD         210
        7X Premium RWD             210
        X Core RWD (MY25)          190
        X Long Range RWD (MY25)    190
        X Privilege AWD (MY25)     190
Name: top_speed_kmh, Length: 477, dtype: int64

In [52]:
type(cars_models.index)

cars_models = cars_models.reset_index()
cars_models

      brand                    model  top_speed_kmh
0    Abarth         500e Convertible            155
1    Abarth           500e Hatchback            155
2    Abarth      600e Scorpionissima            200
3    Abarth             600e Turismo            200
4    Aiways                       U5            150
..      ...                      ...            ...
472   Zeekr       7X Performance AWD            210
473   Zeekr           7X Premium RWD            210
474   Zeekr        X Core RWD (MY25)            190
475   Zeekr  X Long Range RWD (MY25)            190
476   Zeekr   X Privilege AWD (MY25)            190

[477 rows x 3 columns]

In [53]:
cars_models.sort_values(by="top_speed_kmh", ascending=False)

        brand                     model  top_speed_kmh
211  Maserati       GranTurismo Folgore            325
348   Porsche  Taycan Turbo GT Weissach            305
210  Maserati        GranCabrio Folgore            290
347   Porsche           Taycan Turbo GT            290
402     Tesla             Model S Plaid            282
..        ...                       ...            ...
91    Citroen   e-SpaceTourer XL 50 kWh            130
408    Toyota     PROACE Verso L 75 kWh            130
409    Toyota     PROACE Verso M 50 kWh            130
99      Dacia        Spring Electric 65            125
98      Dacia        Spring Electric 45            125

[477 rows x 3 columns]

In [54]:
cars_models.sort_index()

      brand                    model  top_speed_kmh
0    Abarth         500e Convertible            155
1    Abarth           500e Hatchback            155
2    Abarth      600e Scorpionissima            200
3    Abarth             600e Turismo            200
4    Aiways                       U5            150
..      ...                      ...            ...
472   Zeekr       7X Performance AWD            210
473   Zeekr           7X Premium RWD            210
474   Zeekr        X Core RWD (MY25)            190
475   Zeekr  X Long Range RWD (MY25)            190
476   Zeekr   X Privilege AWD (MY25)            190

[477 rows x 3 columns]

In [55]:
cars_models.sort_values(by=["brand", "top_speed_kmh"], ascending=False)

      brand                model  top_speed_kmh
471   Zeekr    7X Long Range RWD            210
472   Zeekr   7X Performance AWD            210
473   Zeekr       7X Premium RWD            210
468   Zeekr   001 Long Range RWD            200
469   Zeekr  001 Performance AWD            200
..      ...                  ...            ...
4    Aiways                   U5            150
2    Abarth  600e Scorpionissima            200
3    Abarth         600e Turismo            200
0    Abarth     500e Convertible            155
1    Abarth       500e Hatchback            155

[477 rows x 3 columns]

In [56]:
cars.groupby("brand").model.count()

brand
Abarth            4
Aiways            2
Alfa              2
Alpine            2
Audi             28
BMW              20
BYD              17
CUPRA             5
Cadillac          1
Citroen          12
DS                5
Dacia             2
Dongfeng          2
Elaris            1
Fiat              8
Ford             22
GWM               6
Genesis           5
Honda             1
Hongqi            3
Hyundai          14
Jaguar            1
Jeep              2
KGM               1
Kia              16
Lancia            1
Leapmotor         2
Lexus             3
Lotus             6
Lucid             3
Lynk&Co           1
MG               12
Maserati          3
Maxus             1
Mazda             2
Mercedes-Benz    42
Mini              8
NIO              12
Nissan            6
Omoda             1
Opel             14
Peugeot          19
Polestar          9
Porsche          26
Renault          11
Rolls-Royce       1
Skoda            12
Skywell           2
Smart            17
Subaru            1
Tesla            11
Toyota            7
VinFast           2
Volkswagen       23
Volvo            18
Voyah             1
XPENG             9
Zeekr             9
firefly           0
Name: model, dtype: int64

In [57]:
# group just has a size() method

____
# Data Types and Missing Values

In [58]:
cars.head(1)

,brand,model,top_speed_kmh,battery_capacity_kWh,battery_type,number_of_cells,torque_nm,efficiency_wh_per_km,range_km,acceleration_0_100_s,...,seats,drivetrain,segment,length_mm,width_mm,height_mm,car_body_type,source_url,efficiency_class,performance_score
0,Abarth,500e Convertible,155,37.8,Lithium-ion,192.0,235.0,156,225,7.0,...,4,FWD,B - Compact,3673,1683,1518,Hatchback,https://ev-database.org/car/1904/Abarth-500e-C...,High Efficieny,26.857143

In [59]:
cars.dtypes

brand                         object
model                         object
top_speed_kmh                  int64
battery_capacity_kWh         float64
battery_type                  object
number_of_cells              float64
torque_nm                    float64
efficiency_wh_per_km           int64
range_km                       int64
acceleration_0_100_s         float64
fast_charging_power_kw_dc    float64
fast_charge_port              object
towing_capacity_kg           float64
cargo_volume_l                object
seats                          int64
drivetrain                    object
segment                       object
length_mm                      int64
width_mm                       int64
height_mm                      int64
car_body_type                 object
source_url                    object
efficiency_class              object
performance_score            float64
dtype: object

In [60]:
cars.range_km.astype("float64")
# change the type

0      225.0
1      225.0
2      280.0
3      280.0
4      315.0
       ...
473    365.0
474    265.0
475    360.0
476    350.0
477    250.0
Name: range_km, Length: 478, dtype: float64

In [61]:
cars.index.dtype

dtype('int64')

In [62]:
cars[pd.isnull(cars.number_of_cells)]

,brand,model,top_speed_kmh,battery_capacity_kWh,battery_type,number_of_cells,torque_nm,efficiency_wh_per_km,range_km,acceleration_0_100_s,...,seats,drivetrain,segment,length_mm,width_mm,height_mm,car_body_type,source_url,efficiency_class,performance_score
4,Aiways,U5,150,60.0,Lithium-ion,NaN,310.0,156,315,7.5,...,5,FWD,JC - Medium,4680,1865,1700,SUV,https://ev-database.org/car/1678/Aiways-U5,High Efficieny,33.066667
5,Aiways,U6,160,60.0,Lithium-ion,NaN,315.0,150,350,7.0,...,5,FWD,JC - Medium,4805,1880,1641,SUV,https://ev-database.org/car/1766/Aiways-U6,High Efficieny,36.000000
38,BMW,i4 M50,225,81.3,Lithium-ion,NaN,795.0,197,450,3.9,...,5,AWD,D - Large,4783,1852,1448,Liftback Sedan,https://ev-database.org/car/2201/BMW-i4-M50,Moderate Efficiency,224.230769
39,BMW,i4 eDrive35,190,67.1,Lithium-ion,NaN,400.0,174,430,6.0,...,5,RWD,D - Large,4783,1852,1448,Liftback Sedan,https://ev-database.org/car/2198/BMW-i4-eDrive35,Moderate Efficiency,66.666667
40,BMW,i4 eDrive40,190,81.3,Lithium-ion,NaN,430.0,174,515,5.6,...,5,RWD,D - Large,4783,1852,1448,Liftback Sedan,https://ev-database.org/car/2199/BMW-i4-eDrive40,Moderate Efficiency,76.785714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,Zeekr,7X Performance AWD,210,94.0,Lithium-ion,NaN,710.0,173,450,3.8,...,5,AWD,JD - Large,4787,1930,1650,SUV,https://ev-database.org/car/3083/Zeekr-7X-Perf...,Moderate Efficiency,205.526316
473,Zeekr,7X Premium RWD,210,71.0,Lithium-ion,NaN,440.0,148,365,6.0,...,5,RWD,JD - Large,4787,1930,1650,SUV,https://ev-database.org/car/3081/Zeekr-7X-Prem...,High Efficieny,73.333333
474,Zeekr,X Core RWD (MY25),190,49.0,Lithium-ion,NaN,343.0,148,265,5.9,...,5,RWD,JB - Compact,4432,1836,1566,SUV,https://ev-database.org/car/3197/Zeekr-X-Core-RWD,High Efficieny,58.135593
475,Zeekr,X Long Range RWD (MY25),190,65.0,Lithium-ion,NaN,343.0,146,360,5.6,...,5,RWD,JB - Compact,4432,1836,1566,SUV,https://ev-database.org/car/3198/Zeekr-X-Long-...,High Efficieny,61.250000
476,Zeekr,X Privilege AWD (MY25),190,65.0,Lithium-ion,NaN,543.0,153,350,3.8,...,5,AWD,JB - Compact,4432,1836,1566,SUV,https://ev-database.org/car/3199/Zeekr-X-Privi...,High Efficieny,157.184211

In [65]:
# cars[cars.isnull().any(axis=1)]

cars.number_of_cells.fillna("Unknown") # null to custom value
cars.brand.replace("Zeekr", "Cock") # hehehe returns Series

0       Abarth
1       Abarth
2       Abarth
3       Abarth
4       Aiways
        ...
473       Cock
474       Cock
475       Cock
476       Cock
477    firefly
Name: brand, Length: 478, dtype: object

In [ ]:
cars.brand.value_counts()  # запомни нахуй value_counts()

SyntaxError: invalid syntax (1003266331.py, line 1)

In [67]:


cars = 0

In [68]:
cars = pd.read_csv("./sample_data/electric_vehicles_spec_2025.csv.csv")

In [69]:
cars.head(3)

,brand,model,top_speed_kmh,battery_capacity_kWh,battery_type,number_of_cells,torque_nm,efficiency_wh_per_km,range_km,acceleration_0_100_s,...,towing_capacity_kg,cargo_volume_l,seats,drivetrain,segment,length_mm,width_mm,height_mm,car_body_type,source_url
0,Abarth,500e Convertible,155,37.8,Lithium-ion,192.0,235.0,156,225,7.0,...,0.0,185,4,FWD,B - Compact,3673,1683,1518,Hatchback,https://ev-database.org/car/1904/Abarth-500e-C...
1,Abarth,500e Hatchback,155,37.8,Lithium-ion,192.0,235.0,149,225,7.0,...,0.0,185,4,FWD,B - Compact,3673,1683,1518,Hatchback,https://ev-database.org/car/1903/Abarth-500e-H...
2,Abarth,600e Scorpionissima,200,50.8,Lithium-ion,102.0,345.0,158,280,5.9,...,0.0,360,5,FWD,JB - Compact,4187,1779,1557,SUV,https://ev-database.org/car/3057/Abarth-600e-S...

In [70]:
cars.rename(columns={"brand": "marka"}).head(3)

,marka,model,top_speed_kmh,battery_capacity_kWh,battery_type,number_of_cells,torque_nm,efficiency_wh_per_km,range_km,acceleration_0_100_s,...,towing_capacity_kg,cargo_volume_l,seats,drivetrain,segment,length_mm,width_mm,height_mm,car_body_type,source_url
0,Abarth,500e Convertible,155,37.8,Lithium-ion,192.0,235.0,156,225,7.0,...,0.0,185,4,FWD,B - Compact,3673,1683,1518,Hatchback,https://ev-database.org/car/1904/Abarth-500e-C...
1,Abarth,500e Hatchback,155,37.8,Lithium-ion,192.0,235.0,149,225,7.0,...,0.0,185,4,FWD,B - Compact,3673,1683,1518,Hatchback,https://ev-database.org/car/1903/Abarth-500e-H...
2,Abarth,600e Scorpionissima,200,50.8,Lithium-ion,102.0,345.0,158,280,5.9,...,0.0,360,5,FWD,JB - Compact,4187,1779,1557,SUV,https://ev-database.org/car/3057/Abarth-600e-S...

In [71]:
cars.rename(index={0: "zero", 1: "hero"}).head(3)

,brand,model,top_speed_kmh,battery_capacity_kWh,battery_type,number_of_cells,torque_nm,efficiency_wh_per_km,range_km,acceleration_0_100_s,...,towing_capacity_kg,cargo_volume_l,seats,drivetrain,segment,length_mm,width_mm,height_mm,car_body_type,source_url
zero,Abarth,500e Convertible,155,37.8,Lithium-ion,192.0,235.0,156,225,7.0,...,0.0,185,4,FWD,B - Compact,3673,1683,1518,Hatchback,https://ev-database.org/car/1904/Abarth-500e-C...
hero,Abarth,500e Hatchback,155,37.8,Lithium-ion,192.0,235.0,149,225,7.0,...,0.0,185,4,FWD,B - Compact,3673,1683,1518,Hatchback,https://ev-database.org/car/1903/Abarth-500e-H...
2,Abarth,600e Scorpionissima,200,50.8,Lithium-ion,102.0,345.0,158,280,5.9,...,0.0,360,5,FWD,JB - Compact,4187,1779,1557,SUV,https://ev-database.org/car/3057/Abarth-600e-S...

In [72]:
cars.rename_axis("cars", axis="rows").rename_axis("columns", axis="columns").head(3)

columns,brand,model,top_speed_kmh,battery_capacity_kWh,battery_type,number_of_cells,torque_nm,efficiency_wh_per_km,range_km,acceleration_0_100_s,...,towing_capacity_kg,cargo_volume_l,seats,drivetrain,segment,length_mm,width_mm,height_mm,car_body_type,source_url
cars,,,,,,,,,,,,,,,,,,,,,
0,Abarth,500e Convertible,155,37.8,Lithium-ion,192.0,235.0,156,225,7.0,...,0.0,185,4,FWD,B - Compact,3673,1683,1518,Hatchback,https://ev-database.org/car/1904/Abarth-500e-C...
1,Abarth,500e Hatchback,155,37.8,Lithium-ion,192.0,235.0,149,225,7.0,...,0.0,185,4,FWD,B - Compact,3673,1683,1518,Hatchback,https://ev-database.org/car/1903/Abarth-500e-H...
2,Abarth,600e Scorpionissima,200,50.8,Lithium-ion,102.0,345.0,158,280,5.9,...,0.0,360,5,FWD,JB - Compact,4187,1779,1557,SUV,https://ev-database.org/car/3057/Abarth-600e-S...

In [73]:
a_cars = cars

In [74]:
b_cars = cars

In [75]:
pd.concat([a_cars, b_cars])

,brand,model,top_speed_kmh,battery_capacity_kWh,battery_type,number_of_cells,torque_nm,efficiency_wh_per_km,range_km,acceleration_0_100_s,...,towing_capacity_kg,cargo_volume_l,seats,drivetrain,segment,length_mm,width_mm,height_mm,car_body_type,source_url
0,Abarth,500e Convertible,155,37.8,Lithium-ion,192.0,235.0,156,225,7.0,...,0.0,185,4,FWD,B - Compact,3673,1683,1518,Hatchback,https://ev-database.org/car/1904/Abarth-500e-C...
1,Abarth,500e Hatchback,155,37.8,Lithium-ion,192.0,235.0,149,225,7.0,...,0.0,185,4,FWD,B - Compact,3673,1683,1518,Hatchback,https://ev-database.org/car/1903/Abarth-500e-H...
2,Abarth,600e Scorpionissima,200,50.8,Lithium-ion,102.0,345.0,158,280,5.9,...,0.0,360,5,FWD,JB - Compact,4187,1779,1557,SUV,https://ev-database.org/car/3057/Abarth-600e-S...
3,Abarth,600e Turismo,200,50.8,Lithium-ion,102.0,345.0,158,280,6.2,...,0.0,360,5,FWD,JB - Compact,4187,1779,1557,SUV,https://ev-database.org/car/3056/Abarth-600e-T...
4,Aiways,U5,150,60.0,Lithium-ion,NaN,310.0,156,315,7.5,...,NaN,496,5,FWD,JC - Medium,4680,1865,1700,SUV,https://ev-database.org/car/1678/Aiways-U5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,Zeekr,7X Premium RWD,210,71.0,Lithium-ion,NaN,440.0,148,365,6.0,...,2000.0,539,5,RWD,JD - Large,4787,1930,1650,SUV,https://ev-database.org/car/3081/Zeekr-7X-Prem...
474,Zeekr,X Core RWD (MY25),190,49.0,Lithium-ion,NaN,343.0,148,265,5.9,...,1600.0,362,5,RWD,JB - Compact,4432,1836,1566,SUV,https://ev-database.org/car/3197/Zeekr-X-Core-RWD
475,Zeekr,X Long Range RWD (MY25),190,65.0,Lithium-ion,NaN,343.0,146,360,5.6,...,1600.0,362,5,RWD,JB - Compact,4432,1836,1566,SUV,https://ev-database.org/car/3198/Zeekr-X-Long-...
476,Zeekr,X Privilege AWD (MY25),190,65.0,Lithium-ion,NaN,543.0,153,350,3.8,...,1600.0,362,5,AWD,JB - Compact,4432,1836,1566,SUV,https://ev-database.org/car/3199/Zeekr-X-Privi...
477,firefly,NaN,150,41.2,Lithium-ion,112.0,200.0,125,250,8.1,...,0.0,404,5,RWD,B - Compact,4003,1885,1557,Hatchback,https://ev-database.org/car/3178/firefly-firefly

In [76]:
left=a_cars.set_index(["brand", "model"])
right=b_cars.set_index(["brand", "model"])

left.join(right, lsuffix="_A", rsuffix="B")

                                 top_speed_kmh_A  battery_capacity_kWh_A  \
brand   model
Abarth  500e Convertible                     155                    37.8
        500e Hatchback                       155                    37.8
        600e Scorpionissima                  200                    50.8
        600e Turismo                         200                    50.8
Aiways  U5                                   150                    60.0
...                                          ...                     ...
Zeekr   7X Premium RWD                       210                    71.0
        X Core RWD (MY25)                    190                    49.0
        X Long Range RWD (MY25)              190                    65.0
        X Privilege AWD (MY25)               190                    65.0
firefly NaN                                  150                    41.2

                                battery_type_A  number_of_cells_A  \
brand   model
Abarth  500e Convertible           Lithium-ion              192.0
        500e Hatchback             Lithium-ion              192.0
        600e Scorpionissima        Lithium-ion              102.0
        600e Turismo               Lithium-ion              102.0
Aiways  U5                         Lithium-ion                NaN
...                                        ...                ...
Zeekr   7X Premium RWD             Lithium-ion                NaN
        X Core RWD (MY25)          Lithium-ion                NaN
        X Long Range RWD (MY25)    Lithium-ion                NaN
        X Privilege AWD (MY25)     Lithium-ion                NaN
firefly NaN                        Lithium-ion              112.0

                                 torque_nm_A  efficiency_wh_per_km_A  \
brand   model
Abarth  500e Convertible               235.0                     156
        500e Hatchback                 235.0                     149
        600e Scorpionissima            345.0                     158
        600e Turismo                   345.0                     158
Aiways  U5                             310.0                     156
...                                      ...                     ...
Zeekr   7X Premium RWD                 440.0                     148
        X Core RWD (MY25)              343.0                     148
        X Long Range RWD (MY25)        343.0                     146
        X Privilege AWD (MY25)         543.0                     153
firefly NaN                            200.0                     125

                                 range_km_A  acceleration_0_100_s_A  \
brand   model
Abarth  500e Convertible                225                     7.0
        500e Hatchback                  225                     7.0
        600e Scorpionissima             280                     5.9
        600e Turismo                    280                     6.2
Aiways  U5                              315                     7.5
...                                     ...                     ...
Zeekr   7X Premium RWD                  365                     6.0
        X Core RWD (MY25)               265                     5.9
        X Long Range RWD (MY25)         360                     5.6
        X Privilege AWD (MY25)          350                     3.8
firefly NaN                             250                     8.1

                                 fast_charging_power_kw_dc_A  \
brand   model
Abarth  500e Convertible                                67.0
        500e Hatchback                                  67.0
        600e Scorpionissima                             79.0
        600e Turismo                                    79.0
Aiways  U5                                              78.0
...                                                      ...
Zeekr   7X Premium RWD                                 240.0
        X Core RWD (MY25)                               70.0
        X Long Range RWD (MY25)                        114.0
        X Privilege AWD (MY25)                         114.0
firefly NaN                                             65.0

                                fast_charge_port_A  ...  towing_capacity_kgB  \
brand   model                                       ...
Abarth  500e Convertible                       CCS  ...                  0.0
        500e Hatchback                         CCS  ...                  0.0
        600e Scorpionissima                    CCS  ...                  0.0
        600e Turismo                           CCS  ...                  0.0
Aiways  U5                                     CCS  ...                  NaN
...                                            ...  ...                  ...
Zeekr   7X Premium RWD                         CCS  ...               2000.0
        X Core RWD (MY25)                      CCS  ...               1600.0
        X Long Range RWD (MY25)                CCS  ...               1600.0
        X Privilege AWD (MY25)                 CCS  ...               1600.0
firefly NaN                                    CCS  ...                  0.0

                                cargo_volume_lB  seatsB drivetrainB  \
brand   model
Abarth  500e Convertible                    185       4         FWD
        500e Hatchback                      185       4         FWD
        600e Scorpionissima                 360       5         FWD
        600e Turismo                        360       5         FWD
Aiways  U5                                  496       5         FWD
...                                         ...     ...         ...
Zeekr   7X Premium RWD                      539       5         RWD
        X Core RWD (MY25)                   362       5         RWD
        X Long Range RWD (MY25)             362       5         RWD
        X Privilege AWD (MY25)              362       5         AWD
firefly NaN                                 404       5         RWD

                                     segmentB  length_mmB  width_mmB  \
brand   model
Abarth  500e Convertible          B - Compact        3673       1683
        500e Hatchback            B - Compact        3673       1683
        600e Scorpionissima      JB - Compact        4187       1779
        600e Turismo             JB - Compact        4187       1779
Aiways  U5                        JC - Medium        4680       1865
...                                       ...         ...        ...
Zeekr   7X Premium RWD             JD - Large        4787       1930
        X Core RWD (MY25)        JB - Compact        4432       1836
        X Long Range RWD (MY25)  JB - Compact        4432       1836
        X Privilege AWD (MY25)   JB - Compact        4432       1836
firefly NaN                       B - Compact        4003       1885

                                 height_mmB car_body_typeB  \
brand   model
Abarth  500e Convertible               1518      Hatchback
        500e Hatchback                 1518      Hatchback
        600e Scorpionissima            1557            SUV
        600e Turismo                   1557            SUV
Aiways  U5                             1700            SUV
...                                     ...            ...
Zeekr   7X Premium RWD                 1650            SUV
        X Core RWD (MY25)              1566            SUV
        X Long Range RWD (MY25)        1566            SUV
        X Privilege AWD (MY25)         1566            SUV
firefly NaN                            1557      Hatchback

                                                                       source_urlB
brand   model
Abarth  500e Convertible         https://ev-database.org/car/1904/Abarth-500e-C...
        500e Hatchback           https://ev-database.org/car/1903/Abarth-500e-H...
        600e Scorpionissima      https://ev-database.org/car/3057/Abarth-600e-S...
        600e Turismo             https://ev-database.org/car/3056/Abarth-600e-T...
Aiways  U5                              https://ev-database.org/car/1678/Aiways-U5
...                                                                            ...
Zeekr   7X Premium RWD           https://ev-database.org/car/3081/Zeekr-7X-Prem...
        X Core RWD (MY25)        https://ev-database.org/car/3197/Zeekr-X-Core-RWD
        X Long Range RWD (MY25)  https://ev-database.org/car/3198/Zeekr-X-Long-...
        X Privilege AWD (MY25)   https://ev-database.org/car/3199/Zeekr-X-Privi...
firefly NaN                       https://ev-database.org/car/3178/firefly-firefly

[478 rows x 40 columns]